/*============================
Geral
============================*/

:root {
    --color-sand0: #fff2df;
    --color-sand1: #fbefcc;
    --color-sand2: #f9ccac;
    --color-sand3: #f4a688;
    --color-sand4: #e0876a;
    --color-sand6: #c54920;
    --color-sand7: #a72e05;
    --color-sand5: rgb(83, 46, 8);

    --border-radius: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
}

body {
    background-color: var(--color-sand0);
    height: 100vh;
    display: grid;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
    text-align: justify;
}

/*============================
Nav
============================*/

nav {
    width: 100vw;
    height: 4vw;
    background: var(--color-sand3);
}

.nav {
    display: flex;
    align-items: center;
    height: 100%;
    width: fit-content;
    margin-left: 3%;
    gap: 20px;
}

nav a {
    text-decoration: none;
    cursor: pointer;
    color: var(--color-sand4)
}

nav a:hover {
    color: white;
}

/*============================
Footer
============================*/

footer {
    display: block;
    margin-top: auto;
    width: 100vw;
    height: 4vw;
    background: var(--color-sand3);
    color: var(--color-sand0);
}

.footer {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/*============================
Main Sobre
============================*/

.sobre_body_outer {
    width: 100vw;
    height: 82vh;
    display: grid;
    justify-items: center;
    overflow: hidden;
}

.sobre_body_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    gap: 2rem;
    color: var(--color-sand4);
    font-size: large;
}

.sobre_body_inner h1, h2 {
    color: var(--color-sand7);
}

/*============================
Main Index
============================*/

.btn {
    padding: 1rem;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--color-sand4);
    color: var(--color-sand0);
}