/*============================
Geral
============================*/

:root {
    --color0: #f2f7f9;
    --color1: #bcd5e1;
    --color2: #bccad6;
    --color3: #8d9db6;
    --color4: #667292;
    --color5: #39466a;
    --color6: #f1e3dd;
    --colorVS : #4b4b4c;

    --border-radius: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
}

body {
    background-color: var(--color0);
    height: 100vh;
    display: grid;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
    text-align: justify;
}

/*============================
Nav
============================*/

nav {
    width: 100vw;
    height: 4vw;
    background: var(--color5);
}

.nav {
    display: flex;
    align-items: center;
    height: 100%;
    width: fit-content;
    margin-left: 3%;
    gap: 20px;
}

nav a {
    text-decoration: none;
    cursor: pointer;
    color: var(--color2)
}

nav a:hover {
    color: rgb(255, 255, 255);
}

.btn-nav {
    padding: 0.4rem!important;
    color: var(--color6)!important;
}

/*============================
Footer
============================*/

footer {
    display: block;
    margin-top: auto;
    width: 100vw;
    height: 4vw;
    background: var(--color5);
    color: var(--color2);
}

.footer {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/*============================
Main Sobre
============================*/

.main_body_outer {
    width: 100vw;
    height: 82vh;
    display: grid;
    justify-items: center;
    overflow: scroll;
}

.main_body_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    gap: 2rem;
    color: var(--color6);
    font-size: large;
}

.main_body_inner h1 {
    color: var(--color4);
}

.main_body_inner h2 {
    color: var(--color3);
}

/*============================
Main Index
============================*/

.btn {
    padding: 1rem;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--color4);
    color: var(--color6);
}

/*Primeira tabela: todas as seleções.*/
.index_main_body_inner1 {
    color: var(--color5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Segunda: todos os grupos AH*/
.main_body_outer2 {
    width: 100vw;
    height: 82vh;
    display: grid;
    overflow: scroll;
    grid-template-columns: auto auto auto auto;
}
.index_main_body_inner2 {
    color: var(--color5);
    display: contents;
}

.table1, .table1 th, .table1 td  {
    text-align: center;
    border:1px solid black;
    padding: 3px;
}

/*Variações da inner2: efeito de quem está jogando contra quem*/
.simularRodada1A {
    color: var(--color5);
    display: contents;
}
.simularRodada1A .table1 tr:nth-child(2) td:nth-child(1){
    color: var(--color0);
    background: var(--color3);
}
.simularRodada1A .table1 tr:nth-child(3) td:nth-child(1){
    color: var(--color0);
    background: var(--color3);
}

.simularRodada1B {
    color: var(--color5);
    display: contents;
}
.simularRodada1B .table1 tr:nth-child(2) td:nth-child(1){
    color: var(--color0);
    background: var(--color3);
}
.simularRodada1B .table1 tr:nth-child(4) td:nth-child(1){
    color: var(--color0);
    background: var(--color3);
}

.simularRodada2A {
    color: var(--color5);
    display: contents;
}
.simularRodada2A .table1 tr:nth-child(2) td:nth-child(1){
    color: var(--color0);
    background: var(--color3);
}
.simularRodada2A .table1 tr:nth-child(5) td:nth-child(1){
    color: var(--color0);
    background: var(--color3);
}

.simularRodada2B {
    color: var(--color5);
    display: contents;
}
.simularRodada2B .table1 tr:nth-child(3) td:nth-child(1){
    color: var(--color0);
    background: var(--color3);
}
.simularRodada2B .table1 tr:nth-child(4) td:nth-child(1){
    color: var(--color0);
    background: var(--color3);
}

.simularRodada3A {
    color: var(--color5);
    display: contents;
}
.simularRodada3A .table1 tr:nth-child(3) td:nth-child(1){
    color: var(--color0);
    background: var(--color3);
}
.simularRodada3A .table1 tr:nth-child(5) td:nth-child(1){
    color: var(--color0);
    background: var(--color3);
}

.simularRodada3B {
    color: var(--color5);
    display: contents;
}
.simularRodada3B .table1 tr:nth-child(4) td:nth-child(1){
    color: var(--color0);
    background: var(--color3);
}
.simularRodada3B .table1 tr:nth-child(5) td:nth-child(1){
    color: var(--color0);
    background: var(--color3);
}

.inicializarOitavasA {
    color: var(--color5);
    display: contents;
}
.inicializarOitavasA .inicializarOitavasA1 tr:nth-child(2) td:nth-child(1){
    color: var(--color0);
    background: var(--color3);
}
.inicializarOitavasA .inicializarOitavasA2 tr:nth-child(3) td:nth-child(1){
    color: var(--color0);
    background: var(--color3);
}
.inicializarOitavasA1 {
    border-top: 3px solid var(--colorVS);
    border-left: 3px solid var(--colorVS);
    border-bottom: 3px solid var(--colorVS);
}
.inicializarOitavasA2 {
    border-top: 3px solid var(--colorVS);
    border-right: 3px solid var(--colorVS);
    border-bottom: 3px solid var(--colorVS);
}

.inicializarOitavasB {
    color: var(--color5);
    display: contents;
}
.inicializarOitavasB .inicializarOitavasA2 tr:nth-child(2) td:nth-child(1){
    color: var(--color0);
    background: var(--color3);
}
.inicializarOitavasB .inicializarOitavasA1 tr:nth-child(3) td:nth-child(1){
    color: var(--color0);
    background: var(--color3);
}

.inicializarQuartasOuter {
    width: 100vw;
    height: 82vh;
    display: grid;
    overflow: scroll;
    grid-template-columns: auto auto;
    padding: 5% 20%;
}

.inicializarQuartas {
    color: var(--color5);
    display: contents;
}

.inicializarFinalOuter {
    width: 100vw;
    height: 82vh;
    display: grid;
    overflow: scroll;
    grid-template-columns: auto;
    padding: 10% 30%;
}

.simularFinal {
    color: var(--color5);
    display: contents;
}
.vencedor {
    color: var(--color5);
    background: rgb(255, 247, 0);
}

